@charset "UTF-8";

@font-face {
  font-family: alvaro;
  src: url(../fonts/alvaro/Alvaro-Condensed.otf) format(opentype);
}

@font-face {
  font-family: Jersey;
  src: url(../fonts/Jersey_15/Jersey15-Regular.ttf) format(truetype);
}


* {

    padding: 0px;
    margin: 0px;

}

:root {

    --link: #FF4500;
    --painel: #262625;

}

div#painel {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 90px;
}

div#painel > div#logotipo {

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}

div#painel > div#logotipo > img {

    width: 120px;
    height: 120px;
    margin-right: -15px;

}

div#painel > div#logotipo > img#logo {

    width: 120px;
    height: 80px;

}

div#painel > a#agenda {

    background-color: var(--link);
    color: white;
    padding: 10px;
    font-size: 25px;
    font-family: Jersey;
    margin-right: 15px;
    border-radius: 10px;
    text-decoration: none;

}

div#painel > a#agenda:hover {

    background-color: white;
    color: black;
    transition: 0.3s;
    
}

section#painelprinc {

    background: url(../images/plano-fundo.png);
    width: 100vw;
    height: 440px;
    padding-bottom: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

div#planofundo {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

div#planofundo > img {

    width: 400px;
}

div#planofundo > img#logofundo {

    margin-right: -65px;

}

div#informacoes {

    display: flex;
    width: 100vw;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    
}

div#informacoes > section.inf {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: auto;
    font-family: Jersey;
    font-size: 20px;
    height: 102px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
}

div#informacoes > section.inf > h3 {

    color: var(--link);
    margin-top: 5px;
    margin-bottom: 5px;
}
