@charset "UTF-8";

@font-face {
  font-family: alvaro;
  src: url(../fonts/alvaro/Alvaro-Condensed.otf) format(opentype);
}

@font-face {
  font-family: Jersey;
  src: url(../fonts/Jersey_15/Jersey15-Regular.ttf) format(truetype);
}


* {

    padding: 0px;
    margin: 0px;

}

html, body {

    width: 100%;
    overflow-x: hidden;
    
}

:root {

    --link: #FF4500;
    --painel: #262625;

}


div#painel {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 90px;
}

div#painel > div#logotipo {

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}

div#painel > div#logotipo > img {

    width: 70px;
    height: 70px;
    margin-right: -10px;

}

div#painel > div#logotipo > img#logo {

    width: 80px;
    height: 50px;

}

div#painel > a#agenda {

    background-color: var(--link);
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family: Jersey;
    margin-right: 15px;
    border-radius: 10px;
    text-decoration: none;

}

div#painel > a#agenda:hover {

    background-color: white;
    color: black;
    transition: 0.3s;
    
}

section#painelprinc {

    background: url(../images/plano-fundo.png);
    width: 100vw;
    height: 245px;
    padding-bottom: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

div#planofundo {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

div#planofundo > img {

    width: 250px;
}

div#planofundo > img#logofundo {

    margin-right: -40px;

}

div#informacoes {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.8em;
    
}

div#informacoes > section.inf {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 1 200px;
    font-family: Jersey;
    font-size: 15px;
    height:90px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
}

div#informacoes > section.inf > h3 {

    color: var(--link);
    margin-top: 5px;
    margin-bottom: 5px;
}

span#burguer {

    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
    text-align: center;
    padding: 15px;
    cursor: pointer;

}

span#burguer:hover {

    background-color: white;
    color: black;

}

menu {

    display: none;

}

menu > ul {

    list-style-type: none;

}

menu > ul > li > a {

    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top: 2px solid gray ;

}

menu > ul > li > a:hover{

    background-color: var(--painel);
    
}

