@charset "UTF-8";

@font-face {
  font-family: alvaro;
  src: url(../fonts/alvaro/Alvaro-Condensed.otf) format(opentype);
}

@font-face {
  font-family: Jersey;
  src: url(../fonts/Jersey_15/Jersey15-Regular.ttf) format(truetype);
}


* {

    padding: 0px;
    margin: 0px;

}

html, body {

    width: 100%;
    overflow-x: hidden;
    
}

body::-webkit-scrollbar {
    display: none; /* Para navegadores Webkit (Chrome, Safari) */
  }

:root {

    --link: #FF4500;
    --painel: #262625;

}


div#painel {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 90px;
}

div#painel > div#logotipo {

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}

div#painel > div#logotipo > img {

    width: 70px;
    height: 70px;
    margin-right: -10px;

}

div#painel > div#logotipo > img#logo {

    width: 80px;
    height: 50px;

}

div#painel > a#agenda {

    background-color: var(--link);
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family: Jersey;
    margin-right: 15px;
    border-radius: 10px;
    text-decoration: none;

}

div#painel > a#agenda:hover {

    background-color: white;
    color: black;
    transition: 0.3s;
    
}

section#painelprinc {

    background: url(../images/plano-fundo.png);
    width: 100vw;
    height: 245px;
    padding-bottom: 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

div#planofundo {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

div#planofundo > img {

    width: 250px;
}

div#planofundo > img#logofundo {

    margin-right: -40px;

}

div#informacoes {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.8em;
    
}

div#informacoes > section.inf {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 1 200px;
    font-family: Jersey;
    font-size: 15px;
    height:90px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
}

div#informacoes > section.inf > h3 {

    color: var(--link);
    margin-top: 5px;
    margin-bottom: 5px;
}

span#burguer {

    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
    text-align: center;
    padding: 15px;
    cursor: pointer;

}

menu {

    display: none;

}

menu > ul {

    list-style-type: none;

}

menu > ul > li > a {

    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top: 2px solid gray ;

}

menu > ul > li > a:hover{

    background-color: var(--painel);
    
}

aside {

    display: flex;
    flex-flow: row nowrap;

}

aside > div#imgintro {

    width: 55vw;
    height: 500px;
    background: url(../images/imagem-introducao.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

aside > div#textintro {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 500px;
    max-height: 500px;
    font-family: alvaro;
    text-align: center;
    font-size: 25px;

}

aside > div#textintro > h1 {

    font-weight: 400;
    margin-bottom: 20px;
    font-size: 1.7em;

}

span {

    color: var(--link);
}

.carrossel {

    overflow: hidden;
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    position: relative;

}

.slides {

    display: flex;
    width: calc(21 * 200px); 
    animation: slide 20s linear infinite;

}

.slides img {

    width: 200px; 
    height: 200px; 
    object-fit: cover;

}

@keyframes slide {

    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }

}

h1#selecao-cabelo {

    text-align: center;
    margin-bottom: 40px;
    font-family: alvaro;
    font-size: 50px;
    font-weight: 400;
    text-decoration: underline var(--link) 3px;
    
}

div#cardcabelo {

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    
}

div.card-container {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    perspective: 1000px;
    width: 100vw;
    height: 450px;

}

div.card {

    width: 300px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;

}

div.card-container.flipped .card {
    
    transform: rotateY(180deg);

}

div.front, .back {

    width: 300px;
    height: 350px;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(94, 94, 94);
    border-radius: 10px;

}

div.front {

    background-color: #c4c4c4;

}

div.front > img {

    margin-bottom: 20px;

}

div.front > p {

    margin-bottom: 30px;
    font-family: jersey;
    font-size: 35px;
    color: #000000;
}

div.back {

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background: url(../images/card-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);

}

div.back > p {

    font-family: jersey;
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
}